{% block content %}



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home    </a></li>
      <li><a href="#">About Us    </a></li>
      <li><a href="#">Contact Us    </a></li>
    </ul>
  </div>
</nav>




<div class="row">

		<div class="col l6 s12 m0">

			<div class="card-panel hoverable" style="height:415px; background-color:#FFFFFF;">
			<a href="/logins/mortLoginClick" class="waves-effect waves-light" style="color:#000">
				<div class="card-image">
				  <img class="responsive-img" src="/static/mainPage/img/house.png" style="width:250px">
				  <br><br><span class="card-title"><strong>Get a Mortgage Quote</strong></span>
				</div>
				<div class="card-content" style="padding-top:1px">
				  <p>Get your mortgage quote within 3 business days, and closing usually much faster.</p>
				</div>
				<div class="card-action right-align">
				  <br><a href="/logins/mortLoginClick" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
				</div>
				</a>
            </div>


		</div>


		<div class="col l6 s12 m0">

			<div class="card-panel hoverable" style="height:415px; background-color:#FFFFFF;">
			<a href="/logins/" class="waves-effect waves-light" style="color:#000">
				<div class="card-image">
				  <img class="responsive-img" src="/static/mainPage/img/houseInvestment.png" style="width:250px">
				  <br><br><span class="card-title"><strong>Invest</strong></span>
				</div>
				<div class="card-content" style="padding-top:1px">
				  <p>Invest in a mortgage, where your money is always backed up by assets.</p>
				</div>
				<div class="card-action right-align">

				 <a href="/logins/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">Start</a>
				</div>
			   </a>
            </div>


		</div>
</div>



{% endblock %}