{% extends "mainPage/header.html" %}

{% block content %}



{% include "logins/includes/htmlsnippet.html" %}


<div class="login-page">
  <div class="form">

     {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
      <!--change this (login-form) for length of fields-->
    <form class="login-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'logins/mortLoginFormAdapter.html' %}
      <button type="submit" >login</button>
        <p class="message">Not registered? <a href="/logins/register">Create an account</a></p>
        <br>
       <div id="wrapper" class="col-sm-12" style="text-align: center; padding-left:20px" >
            <p style="font-size:85%; color:#2E86C1" align="center">If you are a potential investor, click here</p>
        </div>
    </form>
  </div>
</div>









{% endblock %}